{% extends 'base/base.html' %}
{% load board_filter %}
{% block content %}


<div class="container my-3" >
    <div class = "row">
        <div  class ="col-xs-8 col-sm-6">
            <table class="table">
                <thead>
                    <tr class="text-center table-dark">
                        <th>친구</th>     
                    </tr>
                </thead>
                <tbody>
                    {% if follow%}
                        
                    {%for user in follow.to_user.all%}
                    <tr class-"text-start">
                        <td>{{user.profile.nickname}}
                            <a href = "{% url 'common:unFollowing' to_user_id=user.id %}" 
                            data-url = :"{% url 'common:unFollowing' to_user_id=user.id %}"
                            class="unFollower btn btn-outline-secondary">
                            삭제
                            </a>
                            <a href = "{% url 'ChatApp:create_room' user_id=user.id %}" 
                            class=" btn btn-outline-secondary">
                            대화
                            </a>
                            
                        </td>
                        
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">친구가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>      
        <div  class ="col-xs-4 col-sm-6">
            


            <table class="table">
                <thead>
                    <tr class="text-center table-dark">
                        <th>친구추가</th>     
                    </tr>
                </thead>
                <tbody>
                    {% if userList%}
                    {%for to_user in userList.all%}
                    <tr class-"text-start">
                        <td>{{to_user.profile.nickname}}
                            <a href = "{% url 'common:following' to_user_id=to_user.id %}" data-url = :"{% url 'common:following' to_user_id=to_user.id %}"
                            class="follower btn btn-outline-secondary">
                            추가
                            </a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">친구가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        


        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type='text/javascript'>
const follower_elements = document.getElementsByClassName("follower");
Array.from(follower_elements).forEach(function(element){
    element.addEventListener('click',function(){
        if(confirm("팔로우 하시겠습니까?")){
            location.href = this.dataset.uri;
        };
    });
});

const unfollower_elements = document.getElementsByClassName("unFollower");
Array.from(unfollower_elements).forEach(function(element){
    element.addEventListener('click',function(){
        if(confirm("삭제 하시겠습니까?")){
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}



