{% extends 'base/base.html' %}
{% block content %}
    <div class="container ">
    <textarea class="form-control" id="chat-log" disabled cols="100" rows="20" style="resize: none;"></textarea><br>
    <input class="form-control" id="chat-message-input" type="text" size="100"><br>
    <input class="btn btn-outline-secondary" id="chat-message-submit" type="button" value="전송">
    </div>




    {{ room_name|json_script:"room-name" }}
    {{ user.id|json_script:"user_id"}}
    {{ user.profile.nickname|json_script:"nickname"}}

    
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user_id = JSON.parse(document.getElementById('user_id').textContent);
        const nickname = JSON.parse(document.getElementById('nickname').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // chatSocket에 onopen 메소드 지정
        chatSocket.onopen = function (e) {
            fetchMessages();
        }
        // chat-log id를 통해서 기존 message 에 추가해서 message 를 onmessage 해줌
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            if(data['command']==='messages'){
                for (let i = 0; i < data['messages'].length;i++){
                    createMessage(data['messages'][i]);
                }
            }
            else if(data['command']==='new_messages'){
                createMessage(data['message']);
            }
            
        };

        // 에러났을 때는 onclose
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // 엔터를 눌러도 click 이벤트가 발생하게 처리
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        // onclick 이벤트가 발생하면 input value를 message에 저장해서 json형태로 chatSocket으로 전송
        // chatSocket 전송이 완료되면 input box value 를 공백으로 초기화
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user':nickname,
                'user_id':user_id,
                'command': "new_messages"

            }));
            messageInputDom.value = '';
        };

        function fetchMessages(){
            chatSocket.send(JSON.stringify({'command':'fetch_messages'}))
        }

        function createMessage(data){
            const author = data["author"];
            const message = data["content"];
            const time = data["timestamp"];
            document.querySelector('#chat-log').value += ("[" + time.substr(0,19) + "] " + author + " : " + message + '\n');
        }
    </script>

    {% endblock %}